body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

.auth-container,
.dashboard-container {
    text-align: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: none; /* Скрыто по умолчанию */
}

.auth-container.active,
.dashboard-container.active {
    display: block;
}

.auth-container img,
.dashboard-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-bottom: 20px;
}

.auth-container input[type="text"],
.auth-container input[type="password"],
.auth-container button {
    display: block;
    width: calc(100% - 2px);
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 16px;
}

.auth-container input[type="text"],
.auth-container input[type="password"] {
    border: 1px solid #ccc;
    padding-left: 10px;
    transition: border-color 0.3s ease;
}

.auth-container input[type="text"]:focus,
.auth-container input[type="password"]:focus {
    border-color: #005BFF;
    outline: none;
}

.auth-container button,
.dashboard-container button {
    background-color: #005BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.auth-container button:hover,
.dashboard-container button:hover {
    background-color: #0045cc;
}

.dashboard-container button {
    margin-top: 10px;
    width: calc(100% - 2px);
    padding: 15px;
    border-radius: 8px;
    font-size: 16px;
}

.edit-ads-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 1200px;
    max-height: calc(100vh - 150px);
    box-sizing: border-box;
    overflow-y: auto;
}

.char-counter {
    bottom: 10px;
    right: 10px;
    font-size: 12px;
    color: gray;
}

.ad-fields {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    width: 100%;
}

.ad-field {
    text-align: center;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.ad-field img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.ad-field input {
    width: 100%;
    padding: 5px;
    font-size: 14px;
}

#back-btn, #search-product-btn, #back-btn-email, #back-btn-checkorder, #back-btn-contacts {
    align-self: flex-start;
    background-color: #005BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#back-btn:hover {
    background-color: #0045cc;
}

.manage-products-container {
    background-color: #fff;
    margin-top: 50%;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 900px;
    overflow: auto;
    display: none;
}

.manage-products-container.active {
    display: block;
}

h2 {
    margin-bottom: 30px;
    color: #333;
}

.product-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

label {
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
    text-align: left;
    width: 100%;
    padding-left: 5px;
}

input[type="text"],
input[type="number"],
textarea,
select,
input[type="file"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="number"]:focus,
textarea:focus,
select:focus {
    border-color: #005BFF;
    outline: none;
}

textarea {
    height: 100px;
    resize: none;
}

#category-select {
    padding: 12px;
}

#product-images {
    padding: 5px;
}

#characteristics-container {
    width: 100%;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    display: block;
}


#save-product-btn, #delete-product-btn, #save-attributes-btn, #edit-email-btn, #check-order-btn, #edit-email-btn-load, #edit-contacts-btn-load, #edit-contactsvk-btn-load, #edit-contactstg-btn-load, #edit-contactswt-btn-load, #edit-contactstime-btn-load, #edit-contactsreturn-btn-load, #edit-contactsphone-btn-load, #edit-contactsadres-btn-load, #edit-contactstextinfo-btn-load {
    background-color: #005BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: 100%;
}

#save-product-btn:hover, #delete-product-btn:hover {
    background-color: #0045cc;
}

#back-btn-products, #back-btn-delete, #back-btn-attributes {
    align-self: flex-start;
    background-color: #005BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#back-btn-products:hover, #back-btn-delete:hover {
    background-color: #0045cc;
}

.delete-products-container, .edit-email-container, .edit-contacts-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: none; /* Скрыто по умолчанию */
}

.edit-contacts-container {
    margin-top: 1500px;
}

.delete-products-container.active {
    display: block;
}

.delete-products-container h2 {
    margin-bottom: 30px;
    color: #333;
}



.attribute-category {
    max-height: calc(100vh - 500px); /* Установка максимальной высоты с учетом отступов */
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.category-title {
    cursor: pointer;
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.attribute-list {
    margin-top: 10px;
}

.attribute-item {
    margin: 10px 0;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.attribute-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.attribute-header label {
    font-size: 16px;
}

.remove-attribute-btn {
    background-color: #ff6b6b;
    border: none;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.remove-attribute-btn:hover {
    background-color: #ff4d4d;
}

.option-item {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.option-item input[type="text"] {
    flex: 1;
    padding: 5px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.remove-option-btn {
    background-color: #ff6b6b;
    border: none;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.remove-option-btn:hover {
    background-color: #ff4d4d;
}

.add-option-btn {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.add-option-btn:hover {
    background-color: #45a049;
}

.add-attribute-btn {
    background-color: #00BFFF; /* Голубой цвет */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-attribute-btn:hover {
    background-color: #009ACD; /* Темно-голубой при наведении */
}

/* Общее оформление таблицы */
#order-result table {
    width: 100%;
    border-collapse: collapse; /* Убираем двойные границы */
    margin: 20px 0;
    font-family: 'Arial', sans-serif;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1); /* Легкая тень для таблицы */
}

/* Стилизация заголовков таблицы */
#order-result th {
    background-color: #007BFF; /* Цвет фона для заголовков */
    color: white; /* Цвет текста */
    padding: 12px 15px;
    text-align: left;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 2px solid #ddd; /* Линия под заголовком */
}

/* Стилизация строк таблицы */
#order-result td {
    padding: 10px 15px;
    border-bottom: 1px solid #f2f2f2; /* Линия между строками */
}

/* Эффект при наведении на строки */
#order-result tr:hover {
    background-color: #f1f1f1; /* Цвет фона при наведении */
}

/* Стиль для кнопок сортировки */
#order-result button {
    padding: 5px 10px;
    background-color: #28a745; /* Зеленая кнопка */
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 10px;
    transition: background-color 0.3s; /* Плавное изменение цвета */
}

/* Эффект при наведении на кнопки */
#order-result button:hover {
    background-color: #218838; /* Темнее при наведении */
}

/* Стиль для области прокручиваемого контейнера */
#order-result {
    max-height: 30em;
    overflow-y: auto;
}
